<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766512790942-rnb3mji373gr15o8b7hita1o8klafo2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766512790942-rnb3mji373gr15o8b7hita1o8klafo2u</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Lx-E3OhNeKLlnSUiozSPJSLMqqGIXkc</string>
	<key>GCM_SENDER_ID</key>
	<string>766512790942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medev.UChat</string>
	<key>PROJECT_ID</key>
	<string>uchat-ab6f7</string>
	<key>STORAGE_BUCKET</key>
	<string>uchat-ab6f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766512790942:ios:dcfbb06225ee9f0ce02a8f</string>
</dict>
</plist>